[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
mitmdump = "*"
py-mock = "*"
sqlalchemy = "*"
ilogger = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
flask-marshmallow = "*"
jsonpath = "*"

[dev-packages]

[requires]
python_version = "3.7"
