--index-url https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://pypi.org/simple

zstandard==0.13.0
cryptography==2.9.2
aniso8601==8.0.0
blinker==1.4
Brotli==1.0.7
certifi==2020.6.20
cffi==1.14.2
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.8
flask-marshmallow==0.13.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
h11==0.10.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
ilogger==0.0.3
itsdangerous==1.1.0
Jinja2==2.11.2
kaitaistruct==0.8
ldap3==2.7
MarkupSafe==1.1.1
marshmallow==3.7.1
marshmallow-sqlalchemy==0.23.1
mitmdump==1.1.2
mitmproxy==5.2
passlib==1.7.2
protobuf==3.11.3
publicsuffix2==2.20191221
py-mini-racer==0.3.0
py-mock==1.1.1
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pytz==2020.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.19
tornado==6.0.4
urwid==2.0.1
Werkzeug==1.0.1
wsproto==0.15.0